body{
	margin: 0px;
	width: 100%;
	background-color: #f5f5f5;
}


#mainCanvas{
	margin: 0px;
	width: 100%;
	background-color: #e0e0e0;
	height: 100%;
}


#htmlWrapper{
	width: 500px;
	margin: 0 auto 30px auto;
	position:absolute;
	top: 300px;
	left: 400px;

}


#cssWrapper{
	margin: 0 auto;
	width: 500px;
	position: absolute;
	top: 400px;
	left: 400px;
}



#htmlText{
	background-color: #dddddd;
	display: block;
	border: 1px solid #AAA;
	width: 430px;
	height: 40px;
	font-family: Arial;
	padding: 5px;
	margin:  0 auto;
}

#cssText{
	background-color: #eeeeee;
	display: block;
	border: 1px solid #AAA;
	width: 430px;
	height: 40px;
	font-family: Arial;
	padding: 5px;
	margin: 0 auto;
}


.textAreaHeader{
	width: 430px;
	margin: 0 auto;
}

#output{
	border:1px solid black;
	width: 500px;
	height: 300px;	
	float:left;
	overflow: hidden;
}



#result{
	border:1px solid black;
        width: 500px;
	height: 300px;   
        float:left;
	margin-right: 100px;
	overflow: hidden;
}









