body{
	margin: 0px;
	width: 100%;
	background-color: #f5f5f5;
}


#mainCanvas{
	width: 1200px;
	margin-top: 30px;
	position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -600px;
}


#htmlWrapper{
	width: 500px;
	margin-top: 30px;
}


.playing{

}

.clearing{
	clear:both;
}


#htmlText{
	background-color: #dddddd;
	display: block;
	border: 1px solid #AAA;
	width: 800px;
	height: 230px;
	font-family: Arial;
	padding: 5px;
}

#cssText{
	background-color: #eeeeee;
	display: block;
	border: 1px solid #AAA;
	width: 300px;
	height: 600px;
	font-family: Arial;
	padding: 5px;
}

.textAreaHeaderHTML{
	width: 500px;
}


.textAreaHeaderCSS{
	width: 300px;
}


#toMatch{
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	top: 50px;
	left: 100px;
}


#userAttempt{
	width: 10px;
	height: 10px;
	background-color: green;
	position: absolute;
	top: 50px;
	left: 400px;
}

#output{
	box-shadow:0 0 0 1px black;
	width: 400px;
	height: 300px;	
	position: absolute;
	top: 0;
	left: 0;
	overflow:hidden;
}


#fieldHolder{
	width: 510px;
	height: 320px;
	position: relative;
}


#submitButton{
	display: block;
	margin: 20px auto 0 auto;
}


#result{
	box-shadow:0 0 0 1px black;
    width:400px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 410px;
	overflow:hidden;
}


#div_right{
	position:absolute;
	left:870px;
	width: 300px;
}


#div_left{
	position:absolute;
	left:0;
	width: 870px;
}

#time_left {
	position:absolute;
	left:0;
	top:0;
	padding:15px 30px 25px 10px;
	width:30px;
	font-size:24px;
	border-bottom-right-radius:80px;
	background:red;
}